
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interviewhub | Register</title>

    <style>
      .box-area{
        width:930px
      }

    </style>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>

  <body>
    <!-- ---------------------main container start---------------------------- -->


     <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">


    <!-- ---------------------row start---------------------------- -->


    <div class="row border rounder-5 p-3 bg-white shadow box-area">


    <!-- ---------------------left box start---------------------------- -->


     <div class="col-md-6 left-box rounded-4 justify-content-center flex-column align-items-center" style="background-color: rgb(5, 102, 158) ;">
      <div class="featured-image mb-3">
        <img src="/static/images/slider-img.png" class="img-fluid mt-5" style="width: 400px;">
        <p class="text-white fs-4 text-center pt-3">Join Interviewhub</p>
      </div>

    
    <!-- ---------------------left box end ---------------------------- -->
     </div>

    <!-- ---------------------Right box end ---------------------------- -->
     <div class="col-6 right-box">
      <!-- <div class="row align-items-center"> -->

        <div class="header-text mb-4" >
          <p class="justify-content-center text-center">Create an account</p>
        </div>

        <div class="form">

          <form class="row g-3">

            <div class="col-md-6">
              <label for="inputUsername" class="form-label">User name</label>
              <input type="text" class="form-control" id="inputUsername">
            </div>

            <div class="col-md-6">
              <label for="inputFirstname" class="form-label">First name</label>
              <input type="text" class="form-control" id="inputFirstname">
            </div>

            <div class="col-md-6">
              <label for="inputLastname" class="form-label">Last name</label>
              <input type="text" class="form-control" id="inputLastname">
            </div>

            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>

            <div class="col-md-6">
              <label for="inputMobileNumber" class="form-label">Mobile number</label>
              <input type="email" class="form-control" id="inputMobileNumber">
            </div>

            <div class="col-md-6">
              <label for="inputState" class="form-label">State</label>
              <input type="email" class="form-control" id="inputState">
            </div>

            <div class="col-md-6">
              <label for="inputGender" class="form-label">Gender</label>
              <input type="text" class="form-control" id="inputGender">
            </div>

            <div class="col-md-6">
              <label for="inputRole" class="form-label">Role</label>
              <input type="password" class="form-control" id="inputRole">
            </div>

            <div class="col-12">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="">
            </div>
            <div class="col-12">
              <label for="inputConfirmPassword" class="form-label">Confirm password</label>
              <input type="password" class="form-control" id="inputConfirmPassword" placeholder="">
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>

        





      <!-- </div> -->


    <!-- ---------------------Right box end ---------------------------- -->
    </div>
    






    <!-- ---------------------row end---------------------------- -->


  </div>


    <!-- ---------------------main container end---------------------------- -->


     </div>
     

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>




















<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/static/css/style_register.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="title">Create your profile</div>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="user-details">

          <div class="input-box">
            <span class="details">First Name*</span>
            <input type="text" name="first_name" placeholder="Enter your first name" required>
          </div>

          <div class="input-box">
            <span class="details">Last Name*</span>
            <input type="text" name="last_name" placeholder="Enter your last name" required>
          </div>

          <div class="input-box">
            <span class="details">Username*</span>
            <input type="text" name="username" placeholder="Enter your username" required>
          </div>

          <div class="input-box">
            <span class="details">Email ID*</span>
            <input type="email" name="email" placeholder="Enter your email" required>
          </div>

          <div class="input-box">
            <span class="details">Phone Number*</span>
            <input type="number" name="mobile_no" placeholder="Enter your phone number" required>
          </div>

          <div class="input-box">
            <span class="details">Age*</span>
            <input type="number" name="age" placeholder="Enter your age" required>
          </div>

          <div class="input-box">
            <span class="details">State*</span>
            <select name="state" required>
              <option value="" disabled selected>Select your state</option>
              {% for state in INDIAN_STATES_AND_UTS %}
                <option value="{{ state.0 }}">{{ state.1 }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-box">
            <span class="details">Gender*</span>
            <select name="gender" required>
              <option value="" disabled selected>Select your gender</option>
              {% for gender in GENDER_CHOICES %}
                <option value="{{ gender.0 }}">{{ gender.1 }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-box">
            <span class="details">Role*</span>
            <select name="role" required>
              <option value="" disabled selected>Select your role</option>
              {% for role in ROLE_CHOICES %}
                <option value="{{ role.0 }}">{{ role.1 }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-box">
            <span class="details">Password*</span>
            <input type="password" name="password" placeholder="(Minimum 6 characters)" required>
          </div>

          <div class="input-box">
            <span class="details">Confirm Password*</span>
            <input type="password" name="confirm_password" placeholder="Re-enter your password" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Register">
        </div>

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </ul>
        {% endif %}
      </form>
    </div>
  </div>
</body>
</html>











<form method="post">
  {% csrf_token %}

  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username" required><br>

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" required><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" required><br>

  <label for="email">Email:</label>
  <input type="email" name="email" required><br>

  <label for="mobile_no">Mobile Number:</label>
  <input type="text" name="mobile_no" required><br>

  <label for="state">State:</label>
  <select name="state" required>
      {% for state in states %}
          <option value="{{ state.0 }}">{{ state.1 }}</option>
      {% endfor %}
  </select><br>

  <label for="gender">Gender:</label>
  <select name="gender" required>
      {% for gender in genders %}
          <option value="{{ gender.0 }}">{{ gender.1 }}</option>
      {% endfor %}
  </select><br>

  <label for="role">Role:</label>
  <select name="role" required>
      {% for role in roles %}
          <option value="{{ role.0 }}">{{ role.1 }}</option>
      {% endfor %}
  </select><br>

  <label for="password">Password:</label>
  <input type="password" name="password" required><br>

  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" required><br>

  <button type="submit">Register</button>
</form> -->
